*.c.o
*.c.d
*.img
*.iso
*.efi
*.EFI
snowboot/efi/limine-efi
snowboot/efi/freestanding-headers
snowboot/efi/bin-x86_64
snowboot/efi/obj-x86_64
yuki/freestnd-c-hdrs
yuki/freestnd-cxx-hdrs
yuki/limine.h
limine
build
.cache